body {
    background-color: skyblue;
 transition: opacity 1s ease;
    opacity: 1;
}

.image{
    border: 5px solid bisque;
    background-color: rgb(255, 255, 165);
    margin-left: 25%;
}

.link-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    text-decoration: none;

h1 {
    text-align: center;
    background-color: bisque;
    color:steelblue;
    font-size: 400%;
    margin-top: -0.6%;
    margin-left: -0.6%;
    margin-right: -0.6%;
}
.estrella {
animation: brillo 1.5s infinite alternate;
}

@keyframes brillo {
  0% {
    text-shadow: 0 0 5px skyblue, 0 0 10px skyblue;
    transform: scale(1);
  }
  100% {
    text-shadow: 0 0 15px gold, 0 0 30px orange;
    transform: scale(1.2);
  }
}

.link-button:hover {
    background-color: #45a049;
    transform: scale(1.05);
    transform: scale(0.95);
}


.fade-out {
    opacity: 0;
    transition: opacity 1s ease;
}
